.idea
.DS_Store
*/**/target
/protocols/guix-example/guix-example.h
/protocols/Cargo.lock
/stratum-core/Cargo.lock
/stratum-apps/Cargo.lock
/protocols/v2/binary-sv2/derive_codec/Cargo.lock
/benches/Cargo.lock
/ignore
/vendor/ed25519-dalek/target
/utils/buffer/target
/sv2.h
/integration-tests/bitcoin_data/regtest
lcov.info
/target
.vscode
*.py
**/conf/**
cobertura.xml
/roles/*/*-config.toml
/examples/*/Cargo.lock
/scripts/sv2.h
/integration-tests/template-provider
/integration-tests/minerd
**/template-provider
stratum-message-generator
*.log
**/minerd
bitcoin-core-sv2/Cargo.lock
docker/docker_env